@model List<SemProg.BLL.DTOs.EpisodeWithStatsDto>
@{
    ViewData["Title"] = "Epizode";
}
<h2>Epizode</h2>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Naslov</th>
            <th>Opis</th>
            <th>Datum</th>
            <th>Prosečna ocena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Title</td>
                <td>@(string.IsNullOrEmpty(e.Description) ? "-" : e.Description)</td>
                <td>@e.ReleaseDate.ToString("dd.MM.yyyy")</td>
                <td>@(e.AvgScore.ToString("0.0")) / 5</td>
                <td>
                    <a asp-action="Rate" asp-route-id="@e.EpisodeId" class="btn btn-sm btn-primary">Oceni</a>
                </td>
            </tr>
        }
    </tbody>
</table>